<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <a>Listado de Cursos</a>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>codigo</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos_list  %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.codigo }}</td>
            </tr>
            {% endfor %}
        
        <h1>Curso id: {{curso_id.id}}  --    nombre: {{curso_id.nombre}}</h1>
</body>
</html>