<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Encontrados para {{ id }}</title>
</head>
<body>
   
    {% if cursos %}
    <ul>
        {% for curso in cursos %}
        <li>{{ curso.nombre }}</li>
        <li>{{ curso.codigo }}</li>
        <li>{{ curso.cantidad }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p style="color: green;">No se encontraron cursos de {{ nombre }}</p>
    {% endif %}

</body>
</html>